*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    gap: 40px;
    font-size: 100%;
    background-color: rgb(16, 56, 48);
    border-bottom: 5px solid #FFF2E7;
}

.cabecalho-imagem{
    height: 110px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: 'Sarala' sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #FFF2E7;
}

.conteudo{
    background-color: rgb(235, 90, 38);
    padding: 50px 400px;
    display: flex;
    gap:20px;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 5px solid #FFF2E7;
}

.formulario{
    background-color: rgb(151, 88, 65);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 15px solid #000000;
}

.label{
    font-family: 'Righteous', cursive;
    font-weight: 600;
    font-size: 25px;
    color: #000000;
}

.input{
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    font-size: 20px;
    border: 5px solid black;
}

.select-interesse{
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 10px;
    text-align: center;
    font-size: 20px;
    border: 5px solid black;    
}

.textarea-opiniao{
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    font-size: 20px;
    border: 5px solid black;
}

.submit{
    margin: 10px;
    font-family: 'Righteous', cursive;
    padding: 5px 10px;
    font-weight: 800;
    font-size: 20px;
    border: 5px solid black;
}

.conteudo-imagem{
    height: 200px;
}

.rodape{
    padding: 30px;
    text-align: center;
    background-color: rgb(16, 56, 48);
}

.rodape-imagem{
    height: 50px;
}

li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.delete-button{
    margin: 10px;
    font-family: 'Righteous', cursive;
    padding: 5px 10px;
    font-weight: 800;
    font-size: 20px;
    border: 5px solid black;
}

.comment-data{
    font-family: 'Sarala' cursive;
    font-size: 20px;
    font-weight: 500;
    color: #ffe7f6;
}

.comment-item{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    align-items: center;
    background-color: rgb(16, 56, 48);
    border: 10px solid #000000;
}

.comment-name{
    font-family: 'Sarala' cursive;
    font-size: 30px;
    font-weight: 500;
    color: #ffe7f6;
}

.comment-idade{
    font-family: 'Sarala';
    font-size: 20px;
    font-weight: 200;
    color: #FFF2E7;
}

.comment-ideia{
    font-family: 'Sarala' ;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    color: #FFF2E7;
}

.search{
    background-color: rgb(151, 88, 65);
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #000000;
}

.search-button{
    margin: 10px;
    font-family: 'Righteous', cursive;
    padding: 5px 10px;
    font-weight: 800;
    font-size: 20px;
    border: 5px solid black;
}

.comment-founded{
    font-family: 'Righteous', cursive;
    font-weight: 600;
    font-size: 25px;
    color: #000000;
}
